  <div class="container m-xl-5 pt-xl-5 pb-xl-5">
    <div class="title text-center">
      <br />
      <h2 class="mb-3 text-success">Modelo <strong>Colab</strong></h2>
      <p>
        Nuestro modelo colaborativo se basa en el uso de nuevas tecnologías para
        hacer la información sobre las ganancias de empresas accesible al
        público. A través de esta plataforma, cualquier persona puede acceder
        fácilmente a detalles financieros, como ingresos, gastos y utilidades,
        utilizando tecnologías como blockchain e inteligencia artificial para
        garantizar autenticidad y seguridad. Los usuarios pueden comentar, hacer
        preguntas y sugerencias, fomentando la colaboración y la optimización de
        recursos. La plataforma también muestra cómo se distribuyen las
        ganancias, promoviendo la transparencia en aspectos como inversiones
        futuras y dividendos. Este modelo busca empoderar al público al brindar
        información verificada, fortaleciendo la confianza y construyendo
        relaciones éticas. En resumen, usamos tecnología para transparentar las
        ganancias y fomentar la colaboración y participación, buscando
        beneficios para todos los involucrados.
      </p>
    </div>
  </div>