footer {
  height: min-content;
}

#header {
  height: min-content;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .break-on-small-screen {
    display: block; /* Asegura que se muestre como un bloque en pantallas pequeñas */
    content: "\A"; /* Agrega un salto de línea */
    white-space: pre; /* Mantiene los espacios en blanco y saltos de línea */
  }
}
/* Otras reglas de estilo comunes */

/* Evitar que el contenido se desborde horizontalmente */
.container-fluid {
  overflow: hidden;
  white-space: nowrap;
}
.collage {
    position: relative;
    width: 500px;
    height: 500px;
  }
  
  .collage-item {
    position: absolute;
    /* Puedes usar top, left, transform, etc. para posicionar y rotar las imágenes */
  }
  