<div class="wrapper">
<div class="container-fluid">
  <app-header></app-header>
</div>
  <div class="page-header">
    <img class="path" src="assets/img/blob.png" />
    <img
      class="shapes opacity-75 pl-2"
      src="../../../../assets/img/logo_kolab.png"
    />
    <img class="shapes triangle" src="assets/img/triunghiuri.png" />
    <img class="shapes circle" src="assets/img/cercuri.png" />
    <div class="page-header-image"></div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
            <img class="shapes wave" src="assets/img/waves.png" />
            <app-register></app-register>
          </div>
        </div>
      </div>
        <div class="register-bg">
          <div class="square square-1" id="square1"></div>
          <div class="square square-2" id="square2"></div>
          <div class="square square-4" id="square4"></div>
          <div class="square square-5" id="square5"></div>
        </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
