<!-- Kolaborators section -->
<section class="section">
    <div class="container">
      <div class="row">
        <span class="col-md-4">
          <h3 class="mb-3 text-success">Kolaboradores de servicios</h3>
          <h4 class="h4 profile-title text-primary">Prestador de servicios</h4>
          <img
            src="https://diggitaly.cl/assets/img/logo_diggitaly.png"
            href="httsp://diggitaly.cl"
            class="img py-4"
          />
          <p>
            <a href="https://diggitaly.cl">Diggitaly</a> es nuestro prestador de
            servicios tecnológicos, encargado de la implementación de la
            plataforma Colab. En todos los productos de Colab kolabora
            Diggitaly brindando la infraestructura y el soporte técnico para que
            Colab funcione de manera óptima.
          </p>
        </span>
      </div>
    </div>
</section>